# ==============================================================================
# Variables de Entorno - Control de Asistencias IIAP (Frontend Flutter)
# ==============================================================================

# URL Base del Backend NestJS en Producción/Staging
API_BASE_URL=https://dev-api-control.iiap.gob.pe/api

# URL del Servicio de Reconocimiento Facial (Python)
FACIAL_SERVICE_BASE_URL=http://192.168.1.214:8000

# Google OAuth Client IDs (Web/Servidor e iOS)
GOOGLE_SERVER_CLIENT_ID=546116812966-hr7pd2htl3e2na61skqmihg7jkbdf9m8.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=546116812966-aijkt8hrbhaue2uaj2d5cbem1nlspa9v.apps.googleusercontent.com

# Identificador Oficial Único de Paquete (Android e iOS)
APP_PACKAGE_NAME=pe.gob.iiap.attendence
APP_PACKAGE_NAME_ANDROID=pe.gob.iiap.attendence
APP_PACKAGE_NAME_IOS=pe.gob.iiap.attendence
