<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Control Asistencia</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>control_asistencia</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<!-- Permisos para Cámara y Escáner QR -->
	<key>NSCameraUsageDescription</key>
	<string>Se requiere acceso a la cámara para escanear el código QR de registro de asistencia.</string>

	<!-- Permisos para Geolocalización (Geolocator) -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Se requiere acceso a tu ubicación para validar la presencia dentro del rango permitido del IIAP.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Se requiere acceso a tu ubicación para validar la presencia en la sede del IIAP.</string>

	<!-- Permisos para Galería de Fotos (Image Picker) -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Se requiere acceso a la galería para personalizar tu foto de perfil o fondos de pantalla.</string>

	<!-- Permisos para Biometría / Face ID (Local Auth) -->
	<key>NSFaceIDUsageDescription</key>
	<string>Se requiere autenticación biométrica para verificar tu identidad de forma segura.</string>
	<!-- Esquema de URL invertido para autenticación con Google en iOS / iPadOS -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.546116812966-aijkt8hrbhaue2uaj2d5cbem1nlspa9v</string>
				<string>com.googleusercontent.apps.546116812966-hr7pd2htl3e2na61skqmihg7jkbdf9m8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
